@font-face {
    font-family: 'Chalkboy';
    src: url('Chalkboy-Regular.woff2') format('woff2'),
        url('Chalkboy-Regular.woff') format('woff'),
        url('Chalkboy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

